<template>
  <section class="section section-light search">
    <div class="container">
      <h2 class="section__title search__title booking__title">Бронирование</h2>
      <div class="search-list">
        <div class="search__card booking-card">
          <ul class="search__info">
            <li class="search__item flight-header col-1">
                            <span class="flight-header__text">
                                № рейса: {{ flightFrom.flight_id }}, <br class="flight-header__br">направление: туда
                            </span>
            </li>
            <li class="search__item param-cost"><span class="params__name">Стоимость:</span> {{ flightFrom.cost }}
              &#x20BD;
            </li>
            <li class="search__item"><span class="params__name">Время в пути: </span> <i class="far fa-clock"></i>
              {{ flightFrom.duration }}
            </li>
            <li class="search__item col-1">
              <span class="params__name">Вылет: </span><br class="booking__br">
              <i class="fas fa-map-marker-alt"></i> {{ flightFrom.from.city }} <br class="booking__br">
              <i class="fas fa-plane-departure"></i> {{ flightFrom.from.airport }} <br class="booking__br">
              <template v-if="!bookingFlights.fromFavorite">
                <i class="far fa-calendar-alt"></i> {{ flightFrom.from.date }} <br class="booking__br">
              </template>
              <i class="far fa-clock"></i> {{ flightFrom.from.time }}
            </li>
            <li class="search__item col-1">
              <span class="params__name">Прилет: </span><br class="booking__br">
              <i class="fas fa-map-marker-alt"></i> {{ flightFrom.to.city }} <br class="booking__br">
              <i class="fas fa-plane-arrival"></i> {{ flightFrom.to.airport }} <br class="booking__br">
              <template v-if="!bookingFlights.fromFavorite">
                <i class="far fa-calendar-alt"></i> {{ flightFrom.to.date }} <br class="booking__br">
              </template>
              <i class="far fa-clock"></i> {{ flightFrom.to.time }} <br class="booking__br">
            </li>
            <li v-if="bookingFlights.fromFavorite" class="search__item col-1 no-border">
              <span class="params__name">Дата вылета: </span>
              <input type="date" class="input booking-date" v-model="flightDates.from">
            </li>
          </ul>
          <ul v-if="flightBack" class="search__info">
            <li class="search__item flight-header col-1">
                            <span class="flight-header__text flight-header__text_to">
                                № рейса: {{ flightBack.flight_id }}, <br class="flight-header__br">направление: обратно
                            </span>
            </li>
            <li class="search__item param-cost"><span class="params__name">Стоимость:</span> {{ flightBack.cost }}
              &#x20BD;
            </li>
            <li class="search__item"><span class="params__name">Время в пути:</span> <i class="far fa-clock"></i>
              {{ flightBack.duration }}
            </li>
            <li class="search__item col-1">
              <span class="params__name">Вылет:</span><br class="booking__br">
              <i class="fas fa-map-marker-alt"></i> {{ flightBack.from.city }}<br class="booking__br">
              <i class="fas fa-plane-departure"></i> {{ flightBack.from.airport }}<br class="booking__br">
              <template v-if="!bookingFlights.fromFavorite">
                <i class="far fa-calendar-alt"></i> {{ flightBack.from.date }}<br class="booking__br">
              </template>
              <i class="far fa-clock"></i> {{ flightBack.from.time }}
            </li>
            <li class="search__item col-1">
              <span class="params__name">Прилет: </span><br class="booking__br">
              <i class="fas fa-map-marker-alt"></i> {{ flightBack.to.city }} <br class="booking__br">
              <i class="fas fa-plane-arrival"></i> {{ flightBack.to.airport }} <br class="booking__br">
              <template v-if="!bookingFlights.fromFavorite">
                <i class="far fa-calendar-alt"></i> {{ flightBack.to.date }} <br class="booking__br">
              </template>
              <i class="far fa-clock"></i> {{ flightBack.to.time }} <br class="booking__br">
            </li>
            <br>
            <li v-if="bookingFlights.fromFavorite" class="search__item col-1 no-border">
              <span class="params__name">Дата возвращения: </span>
              <input type="date" class="input booking-date" v-model="flightDates.back">
            </li>
            <!--<li class="search__item search__btn-container">
                <button class="btn search__btn_list">Выбрать место</button>
            </li>-->
          </ul>
          <h3 class="section__title booking-passengers__title">Пассажиры</h3>
          <div class="container">
            <form class="form form_multi-col passenger-form" method="post">
              <div class="form_multi-col passenger-form__list">
                <fieldset v-for="(passenger, i) in passengers" :key="'pas'+i"
                          class="form form_multi-col passenger-form__fieldset">
                  <label class="form__label col-2">
                    <input type="text" class="input test-2-name" v-model="passengers[i].first_name" placeholder=" ">
                    <span class="input__name">Имя</span>
                  </label>
                  <label class="form__label col-2">
                    <input type="text" class="input test-2-last" v-model="passengers[i].last_name" placeholder=" ">
                    <span class="input__name">Фамилия</span>
                  </label>
                  <label class="form__label col-2">
                    <input type="number" class="input test-2-name" v-model="passengers[i].document_number"
                           placeholder=" ">
                    <span class="input__name">Номер документа</span>
                  </label>
                  <label class="form__label col-2 date__label">
                    <input type="date" class="input" v-model="passengers[i].birth_date">
                    <span class="input__name">Дата рождения</span>
                  </label>
                  <button v-if="passengers.length>1" class="btn search__btn passenger-form__delete"
                          @click.prevent="removePassenger(i)"><i
                      class="fas fa-user-minus"></i></button>
                </fieldset>
              </div>
              <div class="search__item search__item_final-cost param-cost"><span class="params__name">Итоговая стоимость:</span>
                {{ finalCost }} &#x20BD;
              </div>
              <div class="col-1 passenger-form__actions">
                <button @click.prevent="createBooking" class="btn passenger-form__btn">Забронировать</button>
                <button class="btn passenger-form__btn passenger-form__add" @click.prevent="addPassenger">
                  <i class="fas fa-user-plus"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      bookingFlights: this.$parent.bookingFlights,
      flightDates: {
        from: null,
        back:null
      },
      passengers: []
    }
  },
  computed: {
    flightFrom() {
      return this.bookingFlights.from
    },
    flightBack() {
      return this.bookingFlights?.back
    },
    finalCost() {
      let singleCost = this.bookingFlights.from.cost;
      if (this.bookingFlights?.back?.cost) {
        singleCost += this.bookingFlights.back.cost;
      }
      return singleCost * this.passengers.length;
    }
  },
  mounted() {
    if (this.$parent.authToken) {
      fetch(`${this.$parent.apiHost}/user`, {
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${this.$parent.authToken}`
        }
      }).then(response => {
        if (response.status === 200) {
          response.json().then(json => {
            this.passengers.push(json);
          })
        }
      })
    } else {
      this.passengers.push({
        first_name: '',
        last_name: '',
        birth_date: '',
        document_number: '',
      });
    }
    this.flightFrom.duration = this.$parent.getFlightDuration(this.flightFrom);
    if(this.flightBack) {
      this.flightBack.duration = this.$parent.getFlightDuration(this.flightBack);
    }
  },
  methods: {
    removePassenger(i) {
      if (this.passengers.length > 1) {
        this.passengers.splice(i, 1);
      }
    },
    addPassenger() {
      this.passengers.push({
        first_name: '',
        last_name: '',
        birth_date: '',
        document_number: '',
      });
    },
    createBooking() {
      let data = {
        flight_from: {
          id: this.flightFrom.flight_id,
          date: this.flightDates.from??this.flightFrom.from.date
        },
        flight_back: {},
        passengers: this.passengers
      };
      if (this.flightBack) {
        data.flight_back = {
          id: this.flightBack.flight_id,
          date: this.flightDates.back??this.flightBack.from.date
        }
      }
      fetch(`${this.$parent.apiHost}/booking`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      }).then(response => {
        response.json().then(json => {
          if (response.status === 201) {
            this.$parent.bookingCode = json.data.code;
            this.$router.push('/bookingManagement');
          }
        })
      })
    }
  }
}
</script>

<style scoped>

</style>