<template>
  <main>
    <section class="section banner-section">
      <div class="container banner-section-container">
        <h2 class="banner-section__title">
          Мы сближаем города, <br>вы - живете там, где хотите.
        </h2>
        <p class="banner-section__text section__text text">Путешествия начинаются...</p>
      </div>
    </section>
<!--    <section class="section section-light booting-section">
      <div class="container booting-section-container">
        <h2 class="section__title">Принцип накопления бронирований</h2>
        <p class="text section__text">Больше летаете - меньше тратите</p>
        <div class="accumulation accumulation__form form_multi-col">
          <label class="form__label col-2 date__label">
            <input type="date" class="input booking-accumulate__date" step="2" disabled>
            <span class="input__name">Дата вылета</span>
          </label>
          <div class="col-2 items-center form__computed">
            <p class="text">Стоимость: <span class="booking-accumulate__cost">2000 &#x20BD;</span></p>
          </div>
          <label class="form__label col-2">
            <input type="number" class="input booking-accumulate__number" value="1" disabled>
            <span class="input__name">Количество бронирований</span>
          </label>
          <div class="col-2 items-center form__computed">
            <p class="text">Вероятность вылета: <span class="booking-accumulate__probability">25%</span></p>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-dark">
      <div class="advantages-container">
        <h2 class="section__title">Наши преимущества</h2>
        <div class="advantages">
          <div class="advantages__card">
            <i class="far fa-check-circle advantages__icon"></i>
            <h3 class="advantages__title">Преимущество 1</h3>
            <p class="advantages__text text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Ipsum, voluptatum.</p>
          </div>
          <div class="advantages__card">
            <i class="far fa-check-circle advantages__icon"></i>
            <h3 class="advantages__title">Преимущество 2</h3>
            <p class="advantages__text text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta
              esse perferendis rem repudiandae tempora? Molestiae?</p>
          </div>
          <div class="advantages__card">
            <i class="far fa-check-circle advantages__icon"></i>
            <h3 class="advantages__title">Преимущество 3</h3>
            <p class="advantages__text text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab,
              laudantium?</p>
          </div>
          <div class="advantages__card">
            <i class="far fa-check-circle advantages__icon"></i>
            <h3 class="advantages__title">Преимущество 4</h3>
            <p class="advantages__text text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab,
              laudantium?</p>
          </div>
        </div>
      </div>
    </section>-->
    <section id="search" class="section section-light search">
      <div class="container form-container">
        <h2 class="section__title section__title_form">Поиск билетов</h2>
        <form class="form form_multi-col search__form" method="post">
          <div @click.stop class="form__label col-2">
            <input type="text" class="input autocomplete-input" placeholder=" "
                   @input="getAirports(true)" @click.stop="showSelect('from')" v-model="form.airportFrom">
            <span class="input__name">Откуда</span>
            <span v-for="(error, i) in errors.from" :key="'to'+i" class="error-text">{{ error }}</span>
            <ul class="autocomplete-select__list" :class="{show: airportsListShow.from}">
              <li class="autocomplete-select__title">Найденные аэропорты</li>
              <li v-if="!airportsFrom.length" class="autocomplete-select__item autocomplete-select__item_empty">
                К сожалению, аэропорты не найдены
              </li>
              <li v-for="(airport, i) in airportsFrom" :key="'air-f'+i"
                  class="autocomplete-select__item" @click="selectAirport(i, true)">
                {{ airport.name }}
                <span class="airport-iata">{{ airport.iata }}</span>
              </li>
            </ul>
          </div>
          <div @click.stop class="form__label col-2">
            <input type="text" class="input autocomplete-input" placeholder=" "
                   @input="getAirports()" @click="showSelect('to')" v-model="form.airportTo">
            <span class="input__name">Куда</span>
            <span v-for="(error, i) in errors.to" :key="'to'+i" class="error-text">{{ error }}</span>
            <ul class="autocomplete-select__list" :class="{show: airportsListShow.to}">
              <li class="autocomplete-select__title">Найденные аэропорты</li>
              <li v-if="!airportsTo.length" class="autocomplete-select__item autocomplete-select__item_empty">
                К сожалению, аэропорты не найдены
              </li>
              <li v-for="(airport,i) in airportsTo" :key="'air-f'+i"
                  class="autocomplete-select__item" @click="selectAirport(i)">
                {{ airport.name }}
                <span class="airport-iata">{{ airport.iata }}</span>
              </li>
            </ul>
          </div>
          <label class="form__label col-2">
            <input type="date" class="input" v-model="form.dateFrom">
            <span class="input__name">Дата вылета туда</span>
            <span v-for="(error, i) in errors.date1" :key="'dfrom'+i" class="error-text">{{ error }}</span>
          </label>
          <label class="form__label col-2">
            <input type="date" class="input" v-model="form.dateTo">
            <span class="input__name">Дата вылета обратно</span>
            <span v-for="(error, i) in errors.date2" :key="'dto'+i" class="error-text">{{ error }}</span>
          </label>
          <label class="form__label col-2 center">
            <span class="range__name">Количество пассажиров</span>
            <input list="users-count" type="range" min="1" max="8" value="1" class="input range"
                   v-model="form.passengers">
            <datalist class="range__list" id="users-count">
              <option value="1"></option>
              <option value="2"></option>
              <option value="3"></option>
              <option value="4"></option>
              <option value="5"></option>
              <option value="6"></option>
              <option value="7"></option>
              <option value="8"></option>
            </datalist>
          </label>
          <div class="col-1">
            <button @click.prevent="search" class="btn search__btn">Найти рейс</button>
          </div>
        </form>
      </div>
    </section>
    <section id="sales" class="section section-dark promotes">
      <div class="container promotes__container">
        <h2 class="section__title">Акции</h2>
        <div class="promotes__card">
          <img src="../assets/img/promotion1.jpg" alt="" class="promotes__img test-0-ai">
          <div class="promotes__info">
            <h3 class="promotes__title test-0-an ">Возврат и обмен билетов</h3>
            <p class="promotes__text test-0-ad ">Пандемия изменила планы многих путешественников, но мы знаем, что она не будет длиться вечно. Как только все это закончится, мы продолжим исследовать этот мир так, как мы привыкли. Специальные правила, разработанные для этой сложной ситуации, помогут вам отменить поездку или отложить ее на потом.</p>
            <button class="btn search__btn promotes__btn test-0-abm">Подробнее</button>
          </div>
        </div>
        <div class="promotes__card">
          <img src="../assets/img/promotion2.jpg" alt="" class="promotes__img test-1-ai">
          <div class="promotes__info">
            <h3 class="promotes__title test-1-an ">Лучшие предложения</h3>
            <p class="promotes__text test-1-ad ">Чтобы снова увидеть улицы, которые так много видели. Обнять своих любимых и оглянуться назад, чтобы увидеть, через что вы прошли. И думать о новых мечтах, которые будут такими особенными!</p>
            <button class="btn search__btn promotes__btn test-1-abm">Подробнее</button>
          </div>
        </div>
        <div class="promotes__card">
          <img src="../assets/img/promotion3.jpg" alt="" class="promotes__img test-2-ai">
          <div class="promotes__info">
            <h3 class="promotes__title test-2-an ">Скидки на полеты для новых направлений</h3>
            <p class="promotes__text test-2-ad ">Мы расширяем географию полетов по России, чтобы вы чаще видели своих близких. Выбирайте нашу компанию, чтобы лететь туда, где вас всегда ждут.</p>
            <button class="btn search__btn promotes__btn test-2-abm">Подробнее</button>
          </div>
        </div>
        <div class="promotes__card">
          <img src="../assets/img/promotion4.jpg" alt="" class="promotes__img test-3-ai">
          <div class="promotes__info">
            <h3 class="promotes__title test-3-an ">Все снова включено</h3>
            <p class="promotes__text test-3-ad ">Совсем скоро мы возобновим полеты в Турцию. Рейсы из Москвы в Анталию будут выполняться два раза в день, а по маршруту Москва-Даламан - от трех до семи раз в неделю.</p>
            <button class="btn search__btn promotes__btn test-3-abm">Подробнее</button>
          </div>
        </div>
      </div>
    </section>
<!--    <section class="section section-light search">
      <div class="container form-container">
        <h2 class="section__title section__title_form">Закрытые акции</h2>
        <form class="form form_multi-col search__form" method="post">
          <label class="form__label col-1 email__label">
            <input type="email" class="input" placeholder=" ">
            <span class="input__name">Ваш email</span>
          </label>
          <div class="col-1">
            <button class="btn search__btn ">Подписаться</button>
          </div>
        </form>
      </div>
    </section>-->
  </main>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      airportsFrom: [],
      airportsTo: [],
      form: this.$parent.forms.search,
      airportsListShow: {
        from: false,
        to: false
      },
      errors: []
    }
  },
  mounted() {
    document.addEventListener('click', this.clickOutside);
  },
  methods: {
    clickOutside() {
      this.airportsListShow.from = false;
      this.airportsListShow.to = false;
    },
    showSelect(direction) {
      this.airportsListShow.from = (direction === 'from');
      this.airportsListShow.to = (direction === 'to');
    },
    getAirports(fromDirection = false) {
      if (fromDirection && this.form.airportFrom.length === 0) {
        this.airportsFrom = [];
        return
      } else if (!fromDirection && this.form.airportTo.length === 0) {
        this.airportsTo = [];
        return
      }

      if (fromDirection) {
        fetch(`${this.$parent.apiHost}/airport?query=${this.form.airportFrom}`)
            .then(response => {
              response.json().then(json => this.airportsFrom = json.data.items);
            })
      } else {
        fetch(`${this.$parent.apiHost}/airport?query=${this.form.airportTo}`)
            .then(response => {
              response.json().then(json => this.airportsTo = json.data.items);
            })
      }
    },
    selectAirport(i, fromDirection) {
      if (fromDirection) {
        this.form.airportFrom = this.airportsFrom[i].iata;
      } else {
        this.form.airportTo = this.airportsTo[i].iata;
      }
      this.clickOutside();
    },
    search() {
      let $requestURL = `${this.$parent.apiHost}/flight?from=${this.form.airportFrom}&to=${this.form.airportTo}
      &date1=${this.form.dateFrom}&passengers=${this.form.passengers}`;
      if (this.form.dateTo) {
        $requestURL = `${$requestURL}&date2=${this.form.dateTo}`
      }
      fetch($requestURL)
          .then(response => {
            response.json().then(json => {
              if (response.status === 200) {
                this.$router.push('/search').catch(() => {});
                this.$parent.flights.from = json.data.flights_to;
                this.$parent.flights.to = json.data.flights_back;
              } else if (response.status === 422) {
                this.errors = json.error.errors;
              }
            })
          })
    }
  }
}
</script>
