<template>
  <div id="app">
   <div class="page">
     <nav class="nav-mobile">
       <ul class="nav-mobile__list">
         <li class="nav__item mobile"><router-link to="/#sales" class="nav__link test-0-nav-1">Акции</router-link></li>
         <li class="nav__item mobile"><router-link to="/#search" class="nav__link test-0-nav-2">Поиск</router-link></li>
         <li class="nav__item mobile"><a href="#" class="nav__link test-0-nav-3">Регистрация на рейс</a></li>
         <li class="nav__item mobile"><a href="#" class="nav__link test-0-nav-4">Личный кабинет</a></li>
       </ul>
     </nav>
     <header class="header">
       <div class="logo header-logo">
         <img src="./assets/img/logo.png" alt="logo" class="logo__icon"/>
         <div class="logo__text test-0-logo">
           <router-link to="/" class="logo__link_home" href="/">
             FlightPool
           </router-link>
         </div>
       </div>
       <nav class="nav">
         <ul class="nav__list">
           <li class="nav__item"><a href="/#sales" class="nav__link test-0-nav-1">Акции</a></li>
           <li class="nav__item"><a href="/#search" class="nav__link test-0-nav-2">Поиск</a></li>
           <li class="nav__item"><a href="#" class="nav__link test-0-nav-3">Регистрация на рейс</a></li>
           <template v-if="authToken">
             <li class="nav__item"><router-link to="/profile" class="nav__link btn-login btn header__btn test-0-nav-4">Личный кабинет</router-link></li>
             <li class="nav__item" @click="logout"><a href="#" class="nav__link btn header__btn test-0-nav-4">Выход</a></li>
           </template>
           <template v-else>
            <li class="nav__item "><router-link to="/login" class="nav__link btn btn-login header__btn">Вход</router-link></li>
            <li class="nav__item "><router-link to="/register" class="nav__link btn header__btn">Регистрация</router-link></li>
           </template>
         </ul>
       </nav>
       <button class="nav-toggle">
         <span class="nav-toggle__icon"></span>
       </button>
     </header>
     <router-view/>
     <footer class="footer">
       <div class="container footer__container">
         <div class="row footer__header">
           <div class="footer__header-container">
             <div class="logo footer-logo">
               <div class="logo__text logo__text_footer test-0-logo">
                 <a class="logo__link_home" href="/">
                   FlightPool
                 </a>
               </div>
             </div>
             <div class="phone"><i class="fas fa-phone phone__icon"></i>8 (800) 100-10-10</div>
           </div>
           <nav class="nav nav_footer">
             <ul class="nav__list nav__list_footer">
               <li class="nav__item nav__item_footer"><a href="login"
                                                         class="nav__link nav__link_footer">Вход</a></li>
               <li class="nav__item nav__item_footer"><a href="signup" class="nav__link nav__link_footer">Регистрация</a></li>
               <li class="nav__item nav__item_footer"><a href="contact" class="nav__link nav__link_footer">Контакты</a>
               </li>
               <li class="nav__item nav__item_footer"><a href="news"
                                                         class="nav__link nav__link_footer">Новости</a></li>
               <li class="nav__item nav__item_footer"><a href="return" class="nav__link nav__link_footer">О нас</a>
               </li>
               <li class="nav__item nav__item_footer"><a href="feedback" class="nav__link nav__link_footer">Обратная связь</a>
               </li>
             </ul>
           </nav>
         </div>
       </div>
     </footer>
   </div>
  </div>
</template>

<style>
@import "./assets/css/style.css";
</style>
<script>
import './assets/js/script';
export default {
  data() {
    return {
      apiHost: 'http://m-2/api',
      forms: {
        search: {
          airportFrom: '',
          airportTo: '',
          dateFrom: '',
          dateTo: '',
          passengers: 1
        }
      },
      user: [],
      flights: {
        from:[],
        to:[]
      },
      bookingFlights: {
        from: null,
        back: null,
        fromFavorite: false
      },
      bookingCode:null,
      authToken: localStorage.getItem('authToken'),
    }
  },
  methods: {
    logout() {
      localStorage.removeItem('authToken');
      this.authToken = localStorage.getItem('authToken');
      this.$router.push('/');
    },
    getFlightDuration(flight) {
      let startDate = new Date(`2020-01-01 ${flight.from.time}`);
      let endDate = new Date(`2020-01-01 ${flight.to.time}`);
      let duration = new Date(endDate.getTime() - startDate.getTime());

      let hours = duration.getHours() - 4;
      let minutes = duration.getMinutes();

      if (minutes < 10) minutes = `0${minutes}`;

      duration = `${hours}:${minutes}`;
      return duration;
    },
  }
}
</script>